.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    padding: 20px;
    box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.546);
    background-color: white;
    transition: 02s;
}

.sidebar.hide{
    left: -100%;
}